.menuInferior{
    transition: all .4s;
    background-color: white;
    opacity: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgb(58, 84, 196, .8);
    text-transform: uppercase;
    font-weight: bold;
}

.menuInferior:hover{
    transition: all .4s;
    box-shadow: 0px 5px 300px 100px rgb(197, 252, 166);
}

.menuInferior:active{
    transition: all .2s;
    box-shadow: 0px 5px 300px 100px rgb(9, 182, 52);
}

.menuInferior a{
    transition: all .4s;
    display: block;
    padding: 10px 20px;
    color: black;

}

.menuInferior a:hover{
    transition: all .4s;
    text-shadow: 0px 2px 20px black;
    font-size:  120%;
    color: green;
}

.menuInferior a:active{
    transition: all .2s;
    text-shadow: 0px 2px 20px gray;
    font-size:  140%;
    color: green;
}
.menuInferior ul{
    display: flex;
    justify-content: space-around;
}

.menuInferior li{
    list-style: none;
    font-size: 10px;
}